{% extends "blog/layout.html" %} {% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Django Template <sup>by AskDjango</sup></h1>
        <p>여러분의 파이썬/장고 페이스메이커가 되어드리겠습니다.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="http://facebook.com/groups/askdjango">
                AskDjango 페이스북 그룹 &raquo;
            </a>
        </p>
    </div>
    <div class=row>
        <div class="col-sm-12">
            <div class="alert alert-info">
                <ul>
                    <li>http://localhost:8000/blog/ 주소로 접속해보세요.</li>
                    <li>템플릿 경로를 blog/templates/post_list.html 경로가 아닌 blog/ templates/blog/post_list.html 경로를 쓰는 지에 대한 이유는, 후에 Template
                        Loader에서 설명합니다.
                    </li>
                </ul>
            </div>
            <p>
                <form action="" method="GET">
                    <input type="text" name="q" value="{{q}}" />
                    <input type="submit" value="검색" class="btn btn-primary" />
                </form>
            </p>
            <table class="table table-horver table-bordered">
                <tbody>
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th>created_at</th>
                        <th>update_at</th>
                    </tr>
                    {% for post in post_list %}
                    <tr>
                        <td>{{post.id}}</td>
                        <td><a href="{% url "blog:post_detail" post.id %}">{{post.title}}</a></td>

                        <!--<a href="/blog/{{post.id}}/">
                                            {{post.title}}
                                            </a>-->
                        <td><small>by {{post.update_at}}</small></td>
                        <td>><small>at {{post.created_at}}</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

<!--
In [2]: from django.core.urlresolvers import reverse
In [7]: reverse('blog:post_list')
Out[7]: '/blog/'

In [8]: reverse('blog:post_detail',args=[10])
Out[8]: '/blog/10/'

In [11]: reverse('blog:post_detail',kwargs={'id':2})
Out[11]: '/blog/2/'

In [12]: from django.shortcuts import resolve_url

In [13]: resolve_url('blog:post_list')
Out[13]: '/blog/'

In [14]: resolve_url('blog:post_detail',10)
Out[14]: '/blog/10/'

In [15]: resolve_url('blog:post_detail',id=10)
Out[15]: '/blog/10/'

In [16]: from django.shortcuts import redirect

In [17]: redirect('blog:post_detail',10)
Out[17]: <HttpResponseRedirect status_code=302, "text/html; charset=utf-8", url="/blog/10/">

-->